*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}
header{
    display: flex;
    justify-content: center;
     
}

header img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
    box-shadow: 4px 3px 10px 6px rgb(5, 57, 5);
}
nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top:0;
    background-color: gray;
    padding: 20px;
    z-index: 12;
}
nav a{
    text-decoration: none;
    color:rgb(25, 25, 59);
}

/* home */
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.home div{
    padding-top: 100px;
}
.home img{
    margin-left: 20px;
    width: 500px;
}
.home h2{
   font-size: 40px;
   font-weight: 800px;
}
.home input{
   width: 250px;
   height: 50px;
   border-radius: 10px;
   margin-top: 20px;
}

/* secton  */
section{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}
section h2{
    font-size: 55px;
    font-weight: bold;
    text-shadow: 7px 5px 6px rgb(223, 147, 106);
   
}
section p{

    padding-top: 30px;
}

/* best selling */
.best-selling{
    padding-top: 20px;
}
.best-selling h3{
    padding-top: 30px;
    padding-left: 95px;
    padding-bottom: 20px;
    color: blue;
    font-family: cursive;
    font-weight: bolder;
}
.group-cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.Books{
    height: 350px;
    border: 2px solid black;
    background-color: #e5edf3;
    border-radius: 5px;
    padding-bottom: 10px;
}
.Books img{
    width: 300px;
    height: 350px;
    border-radius:5px ;
   filter: opacity(0.9);
}
.Books img:hover{
    padding: 4px;
}
.Books h6{
    position: relative;
    top:-120px; 
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;
    color: #fff;

}

.Books button{
    background:black;
    color: #fff;
    width: 10vw;
    height: 7vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -120px;
    border: none;
    border-radius: 5px;
}

.card-group{
    display: flex;
    margin-top: -20px;
    margin-bottom: 30px;
}

#Books{
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
    color: blue;
    font-family: cursive;
}

.card-group .card{
    width: 400px;
    height: 520px;
    padding: 5px;
    background-color: #e5edf3;
    margin: 10px;
    border: 1px solid #436e92;

}
.card-img-top{
    width: 323px;
    height: 350px;
}
.card-img-top:hover{
    padding: 4px;
}

.card .card-body{
background-color: #373b3e9e;
}
.card-body .card-title{
    background-color: #373b3e9e;
    color: white;
    text-align: center;
    height: 60px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.card-body .card-title:hover{
border-radius: 10px;
background-color: #b0b0b0;
transition: ease 2s;
}
.card button{
    background-color: #373b3e9e;
    color: #fff;
    height: 7vh;
    width: 10vw;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

/* Section  */
.connect{
    margin-top: 50px;
    background-color: #e5edf3;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius:10px ;
    box-shadow: 1px 10px 12px gray  ;
}
.connect h3{
    padding-bottom: 20px;
    background-color: #e5edf3;
}
.connect img{
    width: 40px;
    background-color: #e5edf3;
}

footer{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

footer p{
    font-size: medium ;
}
footer :first-child{
font-size: large;
}

footer div a{
    color: black;
    display: block;
    font-size: medium;
    text-decoration: none;
}

footer div a:hover{
    background-color: rgb(218, 39, 159);
    color: #e5edf3;
    
}
footer img{
    width: 30%;
    border-radius: 14px;
}

.copyright{
    margin-top: 70px;
    text-align: center;
}
.copyright p{
    background-color: black;
    color: #fff;
    font-size: medium;
}
button:hover{
    color: black;
    background-color: #e5edf3;
    box-shadow: 1px 1px 10px  rgb(208, 212, 208);
}

button:active{
 color: #e5edf3;
 background-color: black;
}
nav a:hover{
    border-radius: 5px;
    background-color: rgb(194, 193, 175);
    box-shadow: 1px 1px 10px rgb(208, 212, 208);

}



/* media queries  */
/* for PC */
@media (max-width : 900px){
    .home img{
        margin-left: 20px;
        width: 250px;
        margin-top: 20px;
    }
    .home h2{
        font-size: 30px;
        font-weight: 700px;
    }
    .group-cards{
        display: grid;
        justify-content: space-evenly;
    }
    .Books {
        margin-bottom: 10px;
    }
    .Books button{
        width: 15vw;
        height: 7vh;
    }
    .card-group{
        display: grid;
        
    }
    .card-group .card-title{
        font-size: 1.5vw;
        padding-top:10px ;

    }
    footer{
        font-size: 1vw;
        
    }
    footer div p{
        font-size: 1vw;

    }
    footer img{
       width: 40%;
    }
}


/* for mobile Apps */
@media (max-width:420px) {
    header img{
        width: 100px;
    }

    /* home */
    .home{
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
       padding-left: 40px;
    }
    .home img{
        width: 200px;
        margin-left: -80px;
        margin-top: 10px;
    }
    .home h2{
       font-size: 10px;
    }
    .home input{
       width: 90px;
       height: 20px;
       margin-top: 7px;
    }
    
    /* secton  */
    section{
        margin-bottom: 10px;
        padding-top: 30px;
    }
    section h3{
        font-size: medium;
    }
    section p{
        font-size: smaller;
        padding-top: 10px;
    }



    /* best sellers */
    .group-cards{
        display: grid;
        margin-left: 10px;
    }
    .Books{
        margin-bottom: 20px;
        
    }
    .Books img{
        width: 300px;
        height: 350px;
    }
    .Books button{
        width: 20vw;
        height: 4vh;
        display: block;
        margin: 0 auto;
    }


    /* Books collection */
    .card-group{
        display: grid;
        margin-left: 22px;
    }
    .card-group .card{
       margin-bottom: 90px;
       margin-top: 40px;
       width: 320px;
       height: 470px;
       margin-left: -2px;
    }
    .card .card-title{
        height: 40px;
        font-size: small;
        padding-top: 12px;
    }
    .card button{
        background-color:#373b3e9e;
        color: white;
        width: 20vw;
        height: 4vh;
        display: block;
        margin: 0 auto;
        border: none;
        padding: 2px;
    }

    /* connect  */
    .connect{
        background-color: #e5edf3;

    }
    .connect h3{
        font-size: medium;
        margin-top:-20px ;
    }
    .connect img{
        width: 30px;
    }


    /* footer  */
    footer{
        font-size: 2vw;
    }
    footer div :first-child{
        font-size: 2vw;
    }
    footer img{
        visibility: hidden;
    }

}